name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:

  build_and_test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_DB: test_db
          POSTGRES_USER: test_user
          POSTGRES_PASSWORD: test_password
        ports:
          - 5432:5432
      redis:
        image: redis:7
        ports:
          - 6379:6379

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.13"

      - name: Install Poetry
        run: |
          pip install poetry
          poetry config virtualenvs.create false

      - name: Install dependencies
        run: poetry install --no-interaction --no-ansi

      - name: Run migrations
        env:
          SECRET_KEY: "TEST_KEY"
          POSTGRES_DB: test_db
          POSTGRES_USER: test_user
          POSTGRES_PASSWORD: test_password
          POSTGRES_HOST: 127.0.0.1
          POSTGRES_PORT: 5432
        run: python manage.py migrate --noinput

      - name: Run tests
        env:
          SECRET_KEY: "TEST_KEY"
          POSTGRES_DB: test_db
          POSTGRES_USER: test_user
          POSTGRES_PASSWORD: test_password
          POSTGRES_HOST: 127.0.0.1
          POSTGRES_PORT: 5432
        run: python manage.py test --noinput


  deploy:
    runs-on: ubuntu-latest
    needs: build_and_test

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Deploy to server
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            cd /var/www/Homework_5
  
            echo "--- RESET & PULL CODE ---"
            git fetch origin
            git reset --hard origin/main
  
            echo "--- SET ENVIRONMENT VARIABLES ---"
            export SECRET_KEY='${{ secrets.SECRET_KEY }}'
            export POSTGRES_DB='${{ secrets.POSTGRES_DB }}'
            export POSTGRES_USER='${{ secrets.POSTGRES_USER }}'
            export POSTGRES_PASSWORD='${{ secrets.POSTGRES_PASSWORD }}'
            export POSTGRES_HOST='${{ secrets.POSTGRES_HOST }}'
            export POSTGRES_PORT='${{ secrets.POSTGRES_PORT }}'

            echo "--- BUILD & RESTART DOCKER ---"
            docker compose down || true
            docker compose build --no-cache
            docker compose up -d
  
            echo "--- WAIT FOR SERVICES TO START ---"
            sleep 30
  
            echo "--- APPLY MIGRATIONS ---"
            docker compose exec -T backend python manage.py migrate --noinput
  
            echo "--- COLLECTSTATIC ---"
            docker compose exec -T backend python manage.py collectstatic --noinput --clear
  
            echo "--- DEPLOYMENT COMPLETE ---"

            echo "--- COLLECTSTATIC ---"
            docker compose exec backend python manage.py collectstatic --noinput